In [2]:
#1
l = [1,2,3,4,5,6,7,8,9,10]
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
#2
l.append(11)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [21]:
#3
l.insert(2,5)
l

[1, 2, 5, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
#4
l.remove(3)
l

[1, 2, 5, 4, 5, 6, 7, 8, 9, 10, 11]

In [24]:
#5
l.sort()
l

[1, 2, 4, 5, 5, 6, 7, 8, 9, 10, 11]

In [31]:
#6
l.reverse()
l

[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]

In [36]:
#7
l.reverse()
l

[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]

In [34]:
#8
len(l)

11

In [40]:
#9
print(l)
print(l[0])

[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]
11

In [41]:
#10
print(l)
print(l[-1])

[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]
1

In [70]:
#11
l=[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]
print(l [: 5])

[11, 10, 9, 8, 7]

In [52]:
#12
print(l)
print(7 in l)

[11, 10, 9, 8, 7, 6, 5, 5, 4, 2, 1]
True

In [53]:
#13
l.count(2)

1

In [10]:
#14
l1 = [1,2,3]
l2 = [4,5,6]
l3 = l1 + l2
l3

[1, 2, 3, 4, 5, 6]

In [1]:
#15
l3=[1, 2, 3, 4, 5, 6]
l3.index(4)

3

In [7]:
#16
l4 = [1,2,3,4,5]
square = {l4**2 for l4 in range(1,6)}
square

{1, 4, 9, 16, 25}

In [6]:
#17
l4=[1,2,3,4,5]
l4.clear()
l4

[]

In [1]:
#18
list ={list**3 for list in range(1,11)}
list

{1, 8, 27, 64, 125, 216, 343, 512, 729, 1000}

In [2]:
#19
for x in range(1,6):
    print(x)

1
2
3
4
5

In [13]:
#20
list = {list*2 for list in range(1,11)}
list

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [21]:
#21
string = "1,2,3,4,5"
list = string.split(',')
list

['1', '2', '3', '4', '5']

In [25]:
#22
strings = "hello", "world"
one = " ".join(strings)
one

'hello world'

In [30]:
#23
abc = [1,2,3,4,5]
tuple = []
for number in abc:
    tuple.append((number, number**2))
tuple

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [49]:
#24
nested = [[1], [2, 3], [4, 5, 6, 7]]

flat = [num for sublist in nested for num in sublist]
print(flat)

[1, 2, 3, 4, 5, 6, 7]

In [2]:
#25
print([i for i in range(2, 50) if 0 not in [i%n for n in range(2, i)]])

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [59]:
#26
unique = [ 'apple' , 'mango' , 'apple' , 'banana' , 'cherry' , 'cherry']
output = []
for x in unique:
    if x not in output:
        output.append(x)
print(output)

['apple', 'mango', 'banana', 'cherry']

In [64]:
#27
lis = [ 1,2,3,4,5,6,7,8,9,10]
del lis[2 : : 3]
lis

[1, 2, 4, 5, 7, 8, 10]

In [73]:
#28
lll = [1,2,3,4,5,6,7,8]
index = 4
first = lll[:index]
second = lll[index:]
print(first)
print(second)

[1, 2, 3, 4]
[5, 6, 7, 8]

In [3]:
#29
l9 = [ 1,3,5,2,6,33,5,66,3]
print(min(l9))
print(max(l9))

1
66

In [1]:
#30
li=[1,2,3,4,5,6,7,8,9,10]
new=li[-2:]+ li [:-2]
print(new)

[9, 10, 1, 2, 3, 4, 5, 6, 7, 8]

In [12]:
#1
n = [x for x in range(1,11)]
n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
#2
n = [x**2 for x in range(1,11)]
n

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#3
o = [x for x in range(0,21) if x%2 ==0]
o

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [20]:
#4
p  = [x for x in range(1,11) if x%2 ==0]
p

[2, 4, 6, 8, 10]

In [ ]:
#5