In [1]:
# 1.)Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [2]:
# 2.)Write a Python program to print all even numbers between 1 and 20 using a for loop.
for i in range(1,21):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20

In [3]:
# 3.)Write a program to print the first 10 multiples of 5 using a for loop.
for i in range(1,51):
    if i%5==0:
        print(i)

5
10
15
20
25
30
35
40
45
50

In [5]:
# 4.)Write a Python program to print the sum of the first 10 natural numbers using a for loop.
x = 0
for i in range(1,11):
    x+=i
    print(x)

1
3
6
10
15
21
28
36
45
55

In [9]:
# 5.)Write a program to print the square of numbers from 1 to 10 using a for loop.
for i in range(1,11):
    b = i*i
    print(b)

1
4
9
16
25
36
49
64
81
100

In [10]:
# 6.)Write a Python program to find the factorial of a number using a for loop.

In [11]:
# 7.)Write a program to print the Fibonacci series up to 10 terms using a for loop.

In [ ]:
# 8.)Write a Python program to reverse a string using a for loop.