In [25]:
# 1     Write a program to find the first prime number between 1 and 100 using a for loop. Stop the loop when you find the first prime.
for num in range(0,101):
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [1]:
# 2.	Create a program that prints all the even numbers from 1 to 50, skipping any number that is a multiple of 4.
for i in range(1,51):
    if i%2==0:
        if i%4==0:
            continue
        print(i)

2
6
10
14
18
22
26
30
34
38
42
46
50

In [2]:
# 3.	Write a function that takes a list of integers and prints the even numbers. Use pass for odd numbers.
for i in range(1,101):
    if i%2==0:
        pass
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [3]:
# 4.	Generate a multiplication table for numbers 1 to 10. Break the inner loop when the product exceeds 50.
for i in range(1,11):
    for x in range(1,11):
        output = i*x
        if output>50:
            break
        print(i, "x", x, "=", output)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50

In [4]:
# 5.	 Write a program that uses a while loop to print numbers from 1 to 20 but skips the numbers that are multiples of 5.
i = 1
while i < 21:
    if i%5==0:
        i += 1
        continue
    print(i)
    i+=1

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19

In [29]:
# 1.)Write a function to calculate the factorial of a given number using recursion.
def factorial(f):
    if f == 0 or f == 1:
        return 1
    else:
        return f * factorial(f-1)
factorial(4)

24

In [33]:
# 2.)Write a Python program to find the greatest of three numbers using a user-defined function.
def greatest(first,second,third):
    if first<second<third :
        print("Third is greatest")
    elif first>second>third:
        print("First is greatest")
    else :
        print("second is greatest")
greatest(3,20,1)

second is greatest

In [46]:
# 3.)Create a function that takes a list of numbers and returns the sum of all even numbers in the list.
def summ(*numbers):
    even = 0
    for i in numbers:
        if i % 2 == 0:
            even += i
    return even
summ(1,2,3,34,5,6,7,8)

50

In [48]:
# 4.)Write a Python program to create a lambda function that multiplies two numbers.
multi = lambda x,y : x*y
multi(4,5)

20

In [53]:
# 5.)Write a function that returns the reverse of a string using recursion.
def rev(string):
    return string[::-1]
rev("hello")

'olleh'

In [4]:
# 6.)Write a Python function that takes a string as input and returns True if it's a palindrome and False otherwise.
def palindrome(str):
    if str == str[::-1]:
        print("TRUE")
    else:
        print("FALSE")
palindrome("racecar")

TRUE

In [7]:
# 7.)Create a function that finds the maximum value in a list without using the built-in max() function.
def maximum(*numbers):
    sort = sorted(numbers)
    return sort[-1]
maximum(1,9,4,1,5,33,62,1,3,55)

62

In [8]:
# 8.)Write a Python function that accepts another function as an argument and applies it to a list of numbers.

In [22]:
# 10.)Write a function that takes two lists as arguments and returns a list containing only the common elements.
def common(list1,list2):
    l3 = []
    for i in list1:
        if i in list2:
            l3.append(i)
    return l3
l1 = [1,2,3,4,5,6,7,8,9]
l2 = [2,10,3,13,5,55,4]
common(l1,l2)

[2, 3, 4, 5]

In [5]:
# 11.)Implement a function using the map() function to square all elements of a list.
def square(n):
    return n * n
listt = [5, 6, 7, 1]
result = map(square, listt)
print(list(result))

[25, 36, 49, 1]

In [7]:
# 12.)Write a Python function to merge two dictionaries.
def merge(dict1,dict2):
    return dict1 | dict2
d1 = {"a": 7, "b": 5}
d2 = {"a": 9, "c": 3}
merge(d1,d2)

{'a': 9, 'b': 5, 'c': 3}

In [ ]:
# 13.)Create a decorator function that logs the start and end of function execution.

In [9]:
# 14.)Write a function to calculate the area of a circle, where the radius is passed as an argument.
def area(radius):
    return 3.14 * (radius*radius)
area(7)

153.86

In [14]:
# 15.)Write a function that takes positional arguments and returns their sum.
def sum(*numbers):
    x = 0
    for i in numbers:
        x+=i
    return x
sum(1,2,3,9)

15